/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* ===================================================
===================== Nav bar ========================
====================================================*/

header {
	width: 100%;
	height: 74px;
	background-color: #FFF;
	border-bottom: solid 2px #EEE;
	position: fixed;
	top: 0;
}

.logo {
	margin: 10px 0;
}

.notif {
	height: 42px;
	width: 45px;
	right: 150px;
	top: 15px;
	position: fixed;

}

.login-logout {
	position: fixed;
	right: 25px;
	top: 21px;
	font-size: 1.5rem;
	padding: 0 20px;
	text-align: center;
}	

.login-logout a {
	text-decoration: none;
	text-align: center;
	color: #555;
}

.login-logout a:visited {
	color: #555;

}