/*// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
	margin: 0;
	font-family: 'Roboto';
}


.group:after {
  content: "";
  display: table;
  clear: both;
}


.wrapper {
	width:1100px;
	margin: 0 auto;
	@extend .group;

	.container {
		width:30%;
		float: left;
	}
	
	.info-container {
		height: 60vh;
		overflow: auto;
	}

	.symptoms {
		padding: 15px;
		strong {
			font-size: 40px;
			width: 100%;
			margin: 0 auto;
		}
		.symptom-input{
			width: 94%;
			resize:none;
			padding: 10px;
			font-size: 20px;
			height: 27px;
			background: lightgrey;
			text-align: center;
			margin-bottom: 10px;

			.new-button {

			}

			a {
				padding: 11px 80px;
				text-decoration: none;
				color: black;
			}

		}

		.info-container {
			height: 65vh;	
			.symptom-contents{
				padding: 10px;
				text-align: center;
				background-color: white;
				margin-bottom: 10px;

				.created_by {
					font-weight: bold;
				}

				a {
					float: left;
				}

				p {
					margin: 0;
				}

				.location .discomfort .frequency .initial_occurence{
					padding: 5px;
				}

				.notes {

				}

				.timestamp {
					float:right;
					font-size: 10px;
				}
			}
		}
	}

	.messages {
		padding: 15px;
		strong {
			font-size: 40px;
			width: 100%;
			margin: 0 auto;
		}
		.message-input{
			width:90%;

			textarea {
				width: 103%;
				resize:none;
				border-radius: 5px ;
				padding: 10px;
				font-size: 20px;
				height: 25px;
			}

			.actions {
				margin: 0;
			}

			input {
				margin-top: 11px;
				border: none;
				font-size: 18px;
				font-weight: regular;
			    position: relative;
			    border-radius: 5px;
			    bottom: 0px;
			    padding: 5px 10px;
			    cursor: pointer;
			}
		}

		.info-container {	
		    background-color: white;
		    // border-radius: 10px;
		    margin-top: 11px;
		    height: 58vh;

			.message-contents {
				padding: 10px;
				.created_by {
					font-weight: bold;
				}

				.content {
					padding: 5px;
				}

				.timestamp {
					float:right;
					font-size: 10px;
				}
			}
		}
	}

	.results {
		padding: 15px;
		strong {
			font-size: 40px;
			width: 100%;
			margin: 0 auto;
		}
		.results-input{
			width: 94%;
			resize:none;
			border-radius: 5px ;
			padding: 10px;
			font-size: 20px;
			height: 27px;
			background: lightgrey;
			text-align: center;
			margin-bottom: 10px;
			.new-button {

			}

			a {
				padding: 11px 80px;
				text-decoration: none;
				color: black;
			}

		}

		.info-container {	
			height: 73vh;
			.results-contents{
				padding: 10px;
				border: solid 2px darkgrey;
				border-radius: 10px;
				text-align: center;
				background-color: white;
				margin-bottom: 10px;

				a {
					float: left;
				}

				p {
					margin: 0;
				}

				.status .raw_data {
					padding: 5px;
				}

				.notes {

				}

				.timestamp {
					float:right;
					font-size: 10px;
				}
			}
		}
	}
}