/*// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
	margin: 0;
	font-family: 'Roboto';
}


.group:after {
  content: "";
  display: table;
  clear: both;
}


.wrapper {
	width:1100px;
	margin: 0 auto;
	@extend .group;

	.container {
		width:30%;
		float: left;
	}

	.hero {
		width:100%;
		margin: 0 auto;
		height: 100px;
		line-height: 30px;
		
		p {
			text-align: center;
			font-size: 30px;
			margin:10px;
		}
		img {
			padding: 10px;
			border-radius:50%;
			height: 80px;
			width: 80px;
		}

	}
	
	.info-container {
		height: 60vh;
		overflow: auto;
	}

	.symptoms {
		padding: 15px;
		text-align: center;

		.header {
			height:60px;
			font-size: 35px;
			margin: 0;
		}
		.symptom-input{
			width: 94%;
			resize:none;
			padding: 10px;
			font-size: 20px;
			height: 27px;
			background: lightgrey;
			text-align: center;
			margin-bottom: 10px;
		
			a {
				padding: 11px 80px;
				text-decoration: none;
				color: black;
			}

		}

		.symptom-input:hover{
			background: grey;
		}

		.info-container {
			height: 65vh;	
			.symptom-contents{
				padding: 10px;
				text-align: center;
				background-color: white;
				margin-bottom: 10px;

				.created_by {
					font-weight: bold;
				}

				a {
					float: left;
				}

				p {
					margin: 0;
				}

				.location .discomfort .frequency .initial_occurence{
					padding: 5px;
				}

				.notes {

				}

				.timestamp {
					float:right;
					font-size: 10px;
				}
			}
		}
	}

	.messages {
		text-align: center;
		padding: 15px;
		h3 {
			height:60px;
			font-size: 35px;
			margin: 0;
		}
		.message-input{
			width:90%;

			.box {
				    width: 230px;
    float: left;
			}

			textarea {
				width: 103%;
				resize:none;
				padding: 10px;
				font-size: 20px;
				height: 25px;
			}

			.actions {
				margin: 0;
			}

			input {
				border: none;
				font-size: 18px;
				font-weight: regular;
			    position: relative;
			    padding: 5px 10px;
			    cursor: pointer;
			    background-color: lightgrey; 
			    right: -36px;
    			height: 48px;
    			top: -1px;
			}

			input:hover {
				background-color: #bbb;
			}
		}

		.info-container {	
		    background-color: white;

		    margin-top: 11px;
		    height: 58vh;

			.message-contents {
				padding: 10px;

				.created_by a{
					font-weight: 500;
				}

				.content {
					padding: 5px;
				}

				.timestamp {
					float:right;
					font-size: 10px;
				}
			}
		}
	}

	.results {
		text-align: center;
		padding: 15px;
		h3 {
			height:60px;
			font-size: 35px;
			margin: 0;
		}
		.results-input{
			width: 94%;
			resize:none;
			padding: 10px;
			font-size: 20px;
			height: 27px;
			background-color: lightgrey;
			text-align: center;
			margin-bottom: 10px;
		
			.new-button {
			
			}

			a {
				padding: 11px 80px;
				text-decoration: none;
				color: black;
			}

		}


		.results-input:hover {
			background-color: #bbb;
		}

		.info-container {	
			height: 73vh;
			.results-contents{
				padding: 10px;
				text-align: center;
				background-color: white;
				margin-bottom: 10px;

				a {
					float: left;
				}

				p {
					margin: 0;
				}

				.status .raw_data {
					padding: 5px;
				}

				.raw_data a{
					float: none;
				}

				img {
					cursor: pointer;
				}

				.notes {

				}

				.timestamp {
					float:right;
					font-size: 10px;
				}
			}
		}
	}
}