// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange : #FDB576;



/*=============================
========= Urgent Posts ========
=============================*/



/*=============================
========= Patient List ========
=============================*/

.latest-symptoms {
		text-align: center;
		height:60px;
		margin: 0 0 10px 0;
		line-height: 60px;
		font-size: 35px;
		
	}
/*=============================
=========== Messages ==========
=============================*/


.latest-messages-container {
	width:30%;	
	padding:15px;
	float: left;
	
	.latest-messages {
		text-align: center;
		height:60px;
		margin: 0 0 10px 0;
		line-height: 60px;
		font-size: 35px;
		
	}

	.messages-wrapper {
		height: 75vh;
		overflow:auto;
		background-color: #fff;
		
	
		a {
			text-decoration:none;
			color:black;
		}
		
		.message-container {
			height:60px;
			padding:10px;
			&:hover {
				background-color: #eee;
			}
		}
		
		.timestamp {
		font-size:10px;
		float: right;
		}	

		.created-by {
			font-weight:bolder;
		}
	}
}

.latest-symptoms , .my-patients {
		text-align: center;
		height:60px;
		font-size: 35px;
		margin: 0 0 10px 0;
		line-height: 60px;
}

.patients-container {
	width:30%;
	padding:15px;
	float: left;
	
	.patients-wrapper {
		height: 75vh;
		overflow:auto;
		margin: 0;
		padding: 0;
	}
	
	
	a {	
		text-decoration:none;
		color:#333;
		
	}
	
	.patient-icon-container {
		text-align: center;
		background-color: #fff;
		width: 100%;
		margin-bottom:10px;
		padding: 10px 0;
	
		&:hover {
			background-color: #EEE;
		}
		.patient-icon  {
			font-size: 3rem;
			
		}

		.patient-name {
			font-weight:500;
			

		}
	}
}

